* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul,
ul li {
    list-style: none;
}


input:focus,
input:active,
button:focus,
button:active {
    outline: none;
    border-style: none;
}